@import url("../ColoresPagina.css");




.contenedor{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}

.box{
    height: 100%;
}

.flecha{
    cursor: pointer;

}

.inputBusqueda{
    height: 40px;
    width: 100%;
    border-radius: 50px;;
    text-align: center;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    font-weight: 500;
    background-color: var(--grisLight);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.596);
}

.inputLink{
    width: 90%; 
    text-decoration: none;
}

@media (max-width: 900px){
    .contenedor{
        display: flex;
    }

    .inputBusqueda{
        width: 100%;
    }

    .inputLink{
        width: 80%; 
        text-decoration: none;
    }

    .box{
        height: 70%;
    }
}

