@import url("../ColoresPagina.css");




.isactive{
    padding: 8px 12px;
    font-weight: 600;
    color: var(--avtiveMenuLight);
    cursor: default;
    text-decoration: none;
    transition: 0.3s;
}

.noActive li{
    padding: 8px 12px;
    border-radius: 50px;
    font-weight: 600;
    transition: 0.3s;
}

.noActive li:hover{
    padding: 8px 12px;
    background-color: var(--hoverBackgroundLight);
    font-weight: 600;
    color: var(--negro);
}


.noActive{
    color: var(--grisOscuro);
    text-decoration: none;
}



.isactive2{
    color: var(--azul);
}