@import url("../ColoresPagina.css");




.element ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-weight: 700;
    width: 100%;
    padding: 0 10px;
    flex-wrap: wrap;
    border-radius: 50px;
    padding: 5px 0;
    
}

.element a{
    text-decoration: none;
    padding: 5px 10px;
}

.element a:hover{
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: var(--hoverBackgroundLight);
}

.elementDark ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-weight: 700;
    width: 100%;
    padding: 0 10px;
    flex-wrap: wrap;
    border-radius: 50px;
    padding: 5px 0;
    color: var(--textosDark);    
}

.elementDark a{
    text-decoration: none;
    padding: 5px 10px;
}

.elementDark a:hover{
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: var(--hoverBackgroundLight);
}