@import url("../ColoresPagina.css");


.light h3{
    color: var(--textosLight);
}

.dark h3{
    color: var(--textosDark);
}



.riel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 15px 0 ;
}

.descubrecon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.info{
    padding-top: 20px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); 
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    z-index: 2;
}

.fondoImagen{
    position: absolute;
    z-index: 0;
    height: 100%;
    top: 0;
}


.miniatura{
    position: relative;
    overflow: hidden;
    height: 180px;
    width: 160px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.349) 5px 2px 8px 2px;
    transition: 0.5s;
}

.miniatura:hover > .info{
    color: var(--avtiveMenuLight);
}


.miniatura:hover{
    transform: scale(110%);
    cursor:pointer;
}

@media (max-width: 600px){


    .miniatura{
        height: 200px;
        width: 200px;
        justify-content: center;
        }
    
    .info{
        height: 100%;
        font-size: 2rem;
        color: rgb(255, 255, 255);
    }
}
