@import url("../ColoresPagina.css");

.light p{
    color: var(--textosLight);
}

.dark p{
    color: var(--textosDark);
}

.light .alojamientoTitulo{
    color: var(--subTituloLight);
}

.dark .alojamientoTitulo{
    color: var(--subTituloDark);
}

.light .recomendacionesTitulo{
    color: var(--subTituloLight);
}

.dark .recomendacionesTitulo{
    color: var(--subTituloDark);
}

.light .iconStandard{
    color: var(--iconsLight);
}

.dark .iconStandard{
    color: var(--iconsDark);
}

.light .contenedorPrincipal{
    background-color: var(--hoverBackgroundLight);
    color: var(--menuTextoLight);
}

.dark .contenedorPrincipal{
    background-color: var(--hoverBackgroundLight);
    color: var(--menuTextoLight);
}

.light .contenedorPrincipal p{
    color: var(--textosLight);
}

.dark .contenedorPrincipal p{
    color: var(--textosDark);
}

.light .contenedorPrincipal h4{
    color: var(--textosLight);
}

.dark .contenedorPrincipal h4{
    color: var(--textosDark);
}

.dark .divisa {
    color: var(--textosDark);
    background-color: var(--menuBackgroundLight);
}

.light .divisa {
    color: var(--textosDark);
    background-color: var(--menuBackgroundLight);

}
.light .clima p{
    color: var(--menuTextoLight);
}

.dark .clima p{
    color: var(--textosDark);
}









.portada{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    filter:saturate(0.7);
    position: relative;
    overflow: hidden;
    filter: saturate(2);
    border-radius: 5px;
}

.portadaIMG{
    width: 105%;
    position: absolute;
    z-index: 0;
}

.galeria{
    display: flex;
    height: 220px;
    width: 100%;
    margin: 10px 0;
    overflow-y: hidden;
    overflow-x: scroll;

}

.galeria img{
    margin: 10px;
    margin-left: 0;
    filter: saturate(1.1);
    border-radius: 5px;
}

.galeria::-webkit-scrollbar {
    height: 9px;
    background-color: #000000;
    border-radius: 10px;
  }

.galeria::-webkit-scrollbar-thumb {
    background: #535353 !important;
    border-radius: 10px;
    cursor: pointer;
  }

.portada h1{
    width: 90%;
    font-size: 2.5rem;
    text-align: center;
    color: var(--titulosLight);
    text-shadow:2px 2px 8px rgb(0, 0, 0);
    z-index: 2;
}

.infoCiudad{
    color: var(--titulosLight);
    font-size: 0.8rem;
    width: 100%;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); 
    z-index: 2;
}

.infoCiudad p{
    color: var(--textos);
    background-color: rgba(0, 0, 0, 0.719);
    padding: 5px 10px;
    border-radius: 50px;
}

.textoPrincipal{
    letter-spacing: 0.5px;
    line-height: 30px;
    font-size: 1.1rem;
}

.textoPrincipal p{
    margin: 10px 0;
}

.alojamientoTitulo{
    display: flex;
    align-items: center;
    justify-content: start;
    
}

.iconStandard{
    margin-right: 10px;
}

.recomendacionesTitulo{
    display: flex;
    align-items: center;
    justify-content: start;
}
.alojamientoTitulo .icon{
    margin-right: 10px;
}

.textoPrincipal img{
    height: 320px;
    aspect-ratio: 1/1;
    margin:  40px 5px;
    border-radius: 10px;
}

.paHacer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.contenedorPrincipal{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.151) 5px 2px 8px 2px;
    width: 45%;
    min-width: 500px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
}


.contenedorFlex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
    width: 100%;
}

.paHacerImagen{
    height: 130px;
    width: 130px;
    overflow: hidden;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paHacerImagen img{
    width: 100%;
}

.paHacerInfo{
    width: 65%;
}

.paHacerInfo p{
    margin-top: 10px;
}

.paHacerInfo h4{
    font-size: 1.5rem;
    margin-bottom: 10px;
}


.paHacerTexto{
    width: 90%;
    font-size: 0.9rem;
}

.paHacerPrecio{
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.divisa{
    margin-left: 10px;
    background-color: rgb(48, 48, 48);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 2px 5px;
}

.paHacerContacto{
    margin-top: 10px;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    font-size: 0.8rem;
    width: 100%;
    font-weight: 500;
}

.paHacerContacto p, .webBtn{
    background-color: var(--grisClaro);
    margin: 0 5px;
    padding: 2px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}


.publicado{
    width: 100%;
    text-align: center;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}

.corazon{
    margin: 0 8px;
}

.webBtn{
    background-color: white;
    padding: 2px 5px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    font-weight: 700;
}

.webBtn:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}


.clima{
    position: absolute;
    height: 80px;
    width: 80px;
    background-color: rgba(0, 19, 32, 0.589);
    top: 0px;
    right: auto;
    z-index: 2;
    border-radius: 0 0 50px 50px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    transform: scale(1.2);
    box-shadow: rgba(0, 0, 0, 0.308) 5px 2px 8px 2px;
}

.clima p{
    font-size: 0.7rem;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    font-weight: 700;
    letter-spacing: 0.5px;
}

.clima p:nth-child(3){
    margin-top: 4px;
}

.climaIcon{
    width: 46px !important;
    margin-top: -15px;
    filter: drop-shadow( 2px 2px 10px rgb(18, 19, 44)) brightness(2.2);
    margin-bottom: -5px;
}



@media (min-width: 600px) and (max-width: 900px){

    .contenedorFlex{
        width: 100%;
    }

    .paHacerImagen{
        height: 120px;
        width: 120px;
    }

    .paHacer{
        justify-content: center;
    }

    .portada{
        height: 300px;
    }


    .portada h1{
        width: 80%;
    }

}


@media (max-width: 600px){


    .portada{
        height: 290px;
    }

    .portada h1{
        font-size: 1.7rem;
    }

    .portada img{
        top: 0;
        width: 180%;
    }

   

    .galeria{
        display: flex;
        height: 200px;
        width: 100%;
        margin: 10px 0;
        overflow-y: hidden;
        overflow-x: scroll;
    }

    .galeria img{
        margin-right: 10px;
    
    }

    .paHacerImagen{
        height: 100px;
        width: 100px;
        margin-bottom: 5px;
    }


    .contenedorPrincipal{
        margin-bottom: 20px;
        margin-right: 20px;
        background-color: #cccccc;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.151) 5px 2px 8px 2px;
        width: 100%;
        min-width: 40px;
        height: fit-content;
        margin: 0 0 20px 0;
        padding: 20px 2px;
        border-radius: 5px;
    }

    .contenedorFlex{
        width: 100%;
    }

    .paHacerInfo{
        width: 90%;
    }

    .paHacer h4{
        font-size: 1.5rem;
        margin-bottom: 0;
        text-align: center;
    }
    .paHacer{
        width: 100%;
    }

    .paHacerContacto p{
        text-align: center;
        margin: 0 10px;
    }

    .paHacerTexto{
        width: 100%;
        text-align: center;
    }

    .contenedorFlex{
        flex-direction: column;
    }

    .paHacerPrecio{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


